// Colors

//Primary
$bg-clr-primary: rgb(20, 20, 20);
$bg-clr-header: rgb(39, 40, 44);


//Secondary
$border-clr-purple: rgb(90, 31, 208);
$lobby-page-purple: #6b57ff;
$bg-clr-code-btns: #1e1e1e;

//Sizes
$mobile-padding: 15px;
$narrow-padding: 35px;
$normal-padding: 165px;

$layoutPadding: 20px;

$break-narrow: 650px;
$break-normal: 1020px;
$break-wide: 1400px;